.movie__item {
  width: 300px;
  margin: 30px 10px;

  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  &-img {
    height: 450px;
    margin-bottom: 20px;

    &:hover {
      
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    margin-bottom: 16px;
  }

  &-genre {
    color: #8e8e8e;
    font-size: 12px;
  }

  &-date {
    border: 1px solid #adadad;
    border-radius: 5px;
    padding: 8px;
    height: fit-content;
    margin-left: 16px;
  }

}