.header {
  width: 100%;
  padding: 20px;
  background: url("../../images/movies-bg.jpg");
  background-size: cover;

  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin: 50px 20px;
  }
}
