.header {
  width: 100%;
  background: url("../../images/movies-bg.jpg");
  background-size: cover;
  padding: 20px;

  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__content {
    margin: 50px 20px;
  }
}
