@import '../../styles/_colors';

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  color: $salmon;
  background-color: $grey;
}