@import '../../styles/_colors';

.sort {
  display: flex;
  align-items: center;

  &__title {
    margin-right: 20px;
    text-transform: uppercase;
  }

  &__btn {
    padding: 10px 20px;
    border: none;
    background-color: $transparent-grey;
    color: $white;
    text-transform: uppercase;

    &:hover {
      background-color: $transparent-grey;
    }

    &--active {
      background-color: $salmon;

      &:hover {
        background-color: $light-salmon;
      }
    }

    &--left {
      border-radius: 5px 0 0 5px;
    }

    &--right {
      border-radius: 0 5px 5px 0;
    }
  }
}
